<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/timer.js"></script>

</head>
<body  onload="startTimer()">

<div id="body">

    <div id="header">
        <h2>ВИВЧАЄМО PHP</h2>
    </div>

    <div id="content">
        <p>
        <h4>Тестове завдання №1</h4>
        <ul>
            <li>Створити форму в якій два текстових поля для заповнення логіну і пароля і кнопка відправити</li>
            <li>Після заповнення форми користувач натискає кнопку 'відправити' і дані передаються сервер (передається
                методом POST)
            </li>
            <li>Прийняти ці дані і вивести їх внизу під формою</li>
        </ul>


        </p>
        <p class="time">До завершення виконання завдання залишилось: </br>

        </p>
        <span id="my_timer" >01:10:00</span>

    </div>

    <div id="footer">


    </div>
</div>

</body>
</html>